.mainImage {
  background-image: url('../../assets/images/main.jpg');
  min-height: 100vh;
}

.backgroundImage {
  margin-bottom: 25px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  opacity: 0.85;

  .backgroundContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .backgroundBox {
      letter-spacing: 10px;
      color: #fff;
      background-color: #000;
      padding: 12px 24px;
      text-align: center;
      font-size: 24px;
    }
  }
}