@import '../../../assets/styles/colors.scss';

.programming-section {
  color: $opacity-grey;

  h4 {
    text-align: center;
  }

  h2 {
    @media screen and (max-width: $break-mobile-medium) {
      font-size: 25px;
    }
  }

  img {
    max-height: 80px;
  }

  .center {
    margin-bottom: 15px;
    flex-direction: column;
  }
}