@import '../../assets/styles/colors.scss';

.portfolio {
  margin-bottom: 50px;

  .carousel-indicators {
    & > li {
      background-color: black;
    }
  }

  p, li {
    font-size: 16px;
    line-height: 1.8;
  }

  hr {
    border-top: 1px solid $darker-grey;
  }
}