@import '../../../assets/styles/colors.scss';

.contact-section {
  margin-bottom: 50px;

  .center {
    flex-direction: column;
  }

  a {
    color: inherit;

    &:hover {
      color: black;
    }
  }
}