@import '../../../assets/styles/colors.scss';

.about-section {
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .aboutHeader {
    margin-bottom: 30px;
  }
}