@import '../../../assets/styles/colors.scss';

.portfolio-section {
  margin-bottom: 50px;

  .carousel-indicators {
    & > li {
      background-color: black;
    }
  }

  p, li {
    font-size: 16px;
    line-height: 1.8;
  }

  hr {
    border-top: 2px solid $darker-grey;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}