@import '../../assets/styles/colors.scss';

.programming {
  color: $opacity-grey;

  h4 {
    text-align: center;
  }

  h2 {
    @media screen and (max-width: $break-mobile-medium) {
      font-size: 25px;
    }
  }

  img {
    max-width: 70px;
    max-height: 70px;
  }

  .center {
    margin-bottom: 15px;
    flex-direction: column;
  }
}