@import '../assets/styles/colors.scss';

.app {
  color: $darker-grey;

  h2 {
    color: $opacity-grey;
  }

  h3 {
    color: $opacity-grey;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shadow {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  }
}
