.app {
  text-align: center;
  margin-top: 50px;

  &Header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    margin-bottom: 15px;

    &Logo {
      animation: appLogoSpin infinite 20s linear;
      height: 80px;

      @keyframes appLogoSpin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
      }
    }

    &Title {
      font-size: 1.5em;
    }
  }

  &Intro {
    font-size: large;
  }
}
