@import '../../assets/styles/colors.scss';

.about {

  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .list-group {
    border-radius: 10px;

    .list-group-item:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .list-group-item:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .aboutHeader {
    max-height: 165px;
    margin-bottom: 30px;

    @media screen and (max-width: $break-desktop-minimum) {
      max-height: 130px;
    }
    @media screen and (max-width: $break-tablet) {
      max-height: 95px;
    }
    @media screen and (max-width: $break-mobile-large) {
      display: none;
    }
  }

  .hideOnMobile {
    @media screen and (max-width: $break-mobile-large) {
      display: none;
    }
  }
}