@import '../../assets/styles/colors.scss';

.footer {
  color: white;
  background-color: $darker-grey;
  height: 20vh;

  .center {
    flex-direction: column;
  }

  a {
    color: inherit;
    background-color: black;
    border-radius: 50%;
    height: 45px;
    width: 45px;

    &:hover {
      background-color: $opacity-grey;
      color: black;
    }
  }
}