@import './assets/styles/base.scss';

html {
  scroll-behavior: smooth;

  body {
    background-color: lighten($light-grey, 10%);
    font-family: 'AvenirNextLTPro-Medium';
    color: $opacity-grey;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
      width: 1em;
    }

    &::-webkit-scrollbar-track {
      background-color: lighten($light-grey, 10%);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $opacity-grey;
      outline: 1px solid $opacity-grey;
      border-radius: 10px;

      &:hover {
        background-color: $darker-grey;
      }
    }
  }
}