$green: #a9dbc3;
$blue: #7db7d4;
$pink: #f5aca6;
$blue-black: #39474d;
$dark-green: #95cfb3;
$dark-blue: #70adcc;
$dark-pink: #f19d95;
$dark-grey: #718990;
$grey: #8da0a6;
$off-white: #f7f7f7;
$very-light-grey: #f0f0f0;
$light-grey: #d8d8d8;
$light-blue: #e6f3fa;
$light-blue-black: #435359;
$charcoal-grey: #303b40;
$white: #FFF;
$black: #000;
$strong-grey: #9da4a6;
$opacity-grey: #777;

//Variables
$break-mobile: 320px;
$break-mobile-large: 425px;
$break-tablet: 768px;
$break-desktop-minimum: 1024px;
$break-desktop-desktop: 1280px;

$form-padding-horizontal: 40px;
